<!-- Validation failure messages -->
<% if @nivel.errors.any? %>
  <% @nivel.errors.full_messages.each do |message| %>
    <div class="alert alert-dismissable alert-danger">
      <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
      <%= message %>
    </div>
  <% end %>
<% end %>

<div class="page-header">
  <h3>Add Nivel</h3>
</div>

<div class="row">
  <div class="col-md-12">
    <form action="/create_nivel" method="post">
      <!-- Hidden input for authenticity token to protect from forgery -->
      <input name="authenticity_token" type="hidden" value="<%= form_authenticity_token %>">

      <!-- Label and input for intended_year -->
      <div class="form-group">
        <label for="intended_year" class="control-label">
          Intended year
        </label>

        <input type="text" id="intended_year" name="intended_year" placeholder="Intended year" class="form-control" value="<%= @nivel.intended_year %>">
      </div>

      <button class="btn btn-success">
        Create Nivel
      </button>
      or
      <a href="/nivels">Cancel</a>
    </form>
  </div>
</div>
