<!-- Validation failure messages -->
<% if @sala.errors.any? %>
  <% @sala.errors.full_messages.each do |message| %>
    <div class="alert alert-dismissable alert-danger">
      <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
      <%= message %>
    </div>
  <% end %>
<% end %>

<div class="page-header">
  <h3>Add Sala</h3>
</div>

<div class="row">
  <div class="col-md-12">
    <form action="/create_sala" method="post">
      <!-- Hidden input for authenticity token to protect from forgery -->
      <input name="authenticity_token" type="hidden" value="<%= form_authenticity_token %>">

      <!-- Label and input for profesor_id -->
      <div class="form-group">
        <label for="profesor_id" class="control-label">
          Profesor
        </label>

        <%= select_tag(:profesor_id, options_from_collection_for_select(Profesor.all, :id, :email, @sala.profesor_id), :class => "form-control") %>
      </div>

      <!-- Label and input for colegio_id -->
      <div class="form-group">
        <label for="colegio_id" class="control-label">
          Colegio
        </label>

        <%= select_tag(:colegio_id, options_from_collection_for_select(Colegio.all, :id, :nombre, @sala.colegio_id), :class => "form-control") %>
      </div>

      <button class="btn btn-success">
        Create Sala
      </button>
      or
      <a href="/salas">Cancel</a>
    </form>
  </div>
</div>
